# Local .terraform directories
.terraform/

# SSH keys: ignora todo el folder y deja .gitkeep
keys/*
!keys/.gitkeep

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars (incluye backups y variantes)
*.tfvars
*.tfvars.json
*.tfvars.*

# Crash log files
crash.log
crash.*.log

# Archivos de override locales
override.tf
override.tf.json
*.override.tf
*.override.tf.json

# Planes locales
*.plan
*.tfplan

# Config local del CLI de Terraform
.terraformrc
terraform.rc

# Materiales sensibles (global)
*.key
*.pem
*.pfx
*.crt
*.cer

# Basura del OS
.DS_Store
Thumbs.db
